<%- include('../layout/top') %>
<b>Thông tin tài khoản</b>
<hr>
Id: <%= id %><br>
Tên: <%= name.last %> <%= name.middle %> <%= name.first %><br>
Email: <%= email %><br>
Ngày khởi tạo: <%= new Date(createdDay) %><br>
Loại tài khoản: Khách hàng<br>
<hr>
<a onclick="deleteCustomer()" href="#">Xóa tài khoản</a><br>
<input type="password" id="passwordVerify" placeholder="Nhập mật khẩu xác nhận">
<script>
function deleteCustomer() {
	var data = {};
	data.password = $('#passwordVerify').val();
	$.ajax({
		url: '/customer/delete',
		type: 'post',
		contentType: 'application/json',
		data: JSON.stringify(data),
		success: function(res){
			if (res.message === undefined) {
				window.location.href = '/';
			} else {
				alert(res.message);
			}
		}
	});
}
</script>
<%- include('../layout/bottom') %>